<table class="table table-bordered">
  <thead>
  <th>Car ID</th>
  <th>Start Point</th>
  <th>End Point</th>
  <th>Started At</th>
  <th>Duration</th>
  <th>Distance</th>
  <th>Price</th>
  </thead>
  <tbody>
    <%= render @customer.rides.desc %>
  </tbody>
</table>